.emailList{
    flex: 1;
    overflow: scroll;
}
/*********hide scrollbar chrome, safari, opera***********/
.emailList::-webkit-scrollbar{
    display: none;
}
.emailList{
    -ms-overflow-style: none;/*hide scrollbar in IE and Edge*/
    scrollbar-width: none;/*hide scrollbar in firefox*/
}
.emailList_settings{
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}
.emailList_sections{
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}
.emailList_list{
    padding-bottom: 20%;
}